openapi: 3.0.1
info:
  title: Tequipy Integration API
  description: Public/partner API for Tequipy integrations. All endpoints require
    a Bearer JWT token obtained via the Tequipy authentication flow.
  version: v1
servers:
- url: https://prod.backend.tequipy.com
security:
- bearerAuth: []
tags:
- name: Orders
- name: Users
- name: User Equipment
- name: Offboardings
- name: Collections
- name: Repairs
- name: Redeployments
- name: Invoices
- name: Equipments
- name: Company Entities
- name: Company Addresses
- name: Countries
- name: Tags
paths:
  /integration/users:
    post:
      tags:
      - Users
      operationId: createEmployee
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmployeeRequest"
        required: true
      responses:
        "200":
          description: OK
          content: {}
      x-mint:
        href: /api-reference/users/create-employee
  /integration/users/{id}/archive:
    post:
      tags:
      - Users
      operationId: archiveUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveUserRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
      x-mint:
        href: /api-reference/users/archive-user
  /integration/users/query:
    post:
      tags:
      - Users
      operationId: queryUsers
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsersQueryApiRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageUserResponse"
      x-mint:
        href: /api-reference/users/query-users
  /integration/user-equipments/query:
    post:
      tags:
      - User Equipment
      operationId: queryUserEquipments
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "equipment.name,ASC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserEquipmentQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageUserEquipmentResponse"
      x-mint:
        href: /api-reference/user-equipment/query-user-equipments
  /integration/user-equipment:
    post:
      tags:
      - User Equipment
      operationId: createUserEquipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserEquipmentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
      x-mint:
        href: /api-reference/user-equipment/create-user-equipment
  /integration/repairs:
    post:
      tags:
      - Repairs
      operationId: createRepair
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEquipmentRepairRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/create-repair
  /integration/repairs/{id}/reject:
    post:
      tags:
      - Repairs
      operationId: rejectRepair
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentRepairDecisionRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/reject-repair
  /integration/repairs/{id}/cancel:
    post:
      tags:
      - Repairs
      operationId: cancelRepair
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/cancel-repair
  /integration/repairs/{id}/approve:
    post:
      tags:
      - Repairs
      operationId: approveRepair
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentRepairDecisionRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/approve-repair
  /integration/repairs/query:
    post:
      tags:
      - Repairs
      operationId: queryRepairs
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "updatedAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentRepairQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/query-repairs
  /integration/redeployments:
    post:
      tags:
      - Redeployments
      operationId: createRedeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRedeploymentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRedeploymentResponse"
      x-mint:
        href: /api-reference/redeployments/create-redeployment
  /integration/redeployments/{id}/cancel:
    post:
      tags:
      - Redeployments
      operationId: cancelRedeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRedeploymentResponse"
      x-mint:
        href: /api-reference/redeployments/cancel-redeployment
  /integration/redeployments/query:
    post:
      tags:
      - Redeployments
      operationId: queryRedeployments
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "updatedAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentRedeploymentQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentRedeploymentResponse"
      x-mint:
        href: /api-reference/redeployments/query-redeployments
  /integration/orders:
    post:
      tags:
      - Orders
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrderResponse"
      x-mint:
        href: /api-reference/orders/create-order
  /integration/orders/{id}/cancel:
    post:
      tags:
      - Orders
      operationId: cancelOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrderResponse"
      x-mint:
        href: /api-reference/orders/cancel-order
  /integration/orders/query:
    post:
      tags:
      - Orders
      operationId: queryOrders
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "createdAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageOrderResponse"
      x-mint:
        href: /api-reference/orders/query-orders
  /integration/offboardings:
    post:
      tags:
      - Offboardings
      operationId: createOffboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOffboardingRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
      x-mint:
        href: /api-reference/offboardings/create-offboarding
  /integration/offboardings/{id}/cancel:
    post:
      tags:
      - Offboardings
      operationId: cancelOffboarding
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
      x-mint:
        href: /api-reference/offboardings/cancel-offboarding
  /integration/offboardings/query:
    post:
      tags:
      - Offboardings
      operationId: queryOffboardings
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "updatedAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OffboardingQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageOffboardingResponse"
      x-mint:
        href: /api-reference/offboardings/query-offboardings
  /integration/invoices/query:
    post:
      tags:
      - Invoices
      operationId: queryInvoices
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "createdAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageInvoiceResponse"
      x-mint:
        href: /api-reference/invoices/query-invoices
  /integration/equipments/query:
    post:
      tags:
      - Equipments
      operationId: queryEquipments
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "createdAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentResponse"
      x-mint:
        href: /api-reference/equipments/query-equipments
  /integration/countries/query:
    post:
      tags:
      - Countries
      operationId: queryCountries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CountryQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountryResponse"
      x-mint:
        href: /api-reference/countries/query-countries
  /integration/company-addresses/query:
    post:
      tags:
      - Company Addresses
      operationId: queryCompanyAddresses
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyAddressQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageCompanyAddressResponse"
      x-mint:
        href: /api-reference/company-addresses/query-company-addresses
  /integration/collections:
    post:
      tags:
      - Collections
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentCollectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
      x-mint:
        href: /api-reference/collections/create-collection
  /integration/collections/{id}/cancel:
    post:
      tags:
      - Collections
      operationId: cancelCollection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
      x-mint:
        href: /api-reference/collections/cancel-collection
  /integration/collections/query:
    post:
      tags:
      - Collections
      operationId: queryCollections
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "updatedAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentCollectionQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentCollectionResponse"
      x-mint:
        href: /api-reference/collections/query-collections
  /integration/users/{id}:
    get:
      tags:
      - Users
      operationId: getUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
      x-mint:
        href: /api-reference/users/get-user
    patch:
      tags:
      - Users
      operationId: updateUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
      x-mint:
        href: /api-reference/users/update-user
  /integration/user-equipment/{id}:
    get:
      tags:
      - User Equipment
      operationId: getUserEquipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
      x-mint:
        href: /api-reference/user-equipment/get-user-equipment
    patch:
      tags:
      - User Equipment
      operationId: updateUserEquipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserEquipmentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
      x-mint:
        href: /api-reference/user-equipment/update-user-equipment
  /integration/tags:
    get:
      tags:
      - Tags
      operationId: getTags
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TagResponse"
      x-mint:
        href: /api-reference/tags/get-tags
  /integration/specification-parameters/{modelType}:
    get:
      tags:
      - Equipment Specifications
      operationId: list
      parameters:
      - name: modelType
        in: path
        required: true
        schema:
          type: string
          enum:
          - LAPTOP
          - MONITOR
          - TABLET
          - SMARTPHONE
          - KEYBOARD_AND_MOUSE
          - CABLES
          - CHARGER
          - ACCESSORIES
          - HEADSET
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpecificationParameterResponse"
      x-mint:
        href: /api-reference/equipment-specifications/list
  /integration/repairs/{id}:
    get:
      tags:
      - Repairs
      operationId: getRepair
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRepairResponse"
      x-mint:
        href: /api-reference/repairs/get-repair
  /integration/redeployments/{id}:
    get:
      tags:
      - Redeployments
      operationId: getRedeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRedeploymentResponse"
      x-mint:
        href: /api-reference/redeployments/get-redeployment
  /integration/orders/{id}:
    get:
      tags:
      - Orders
      operationId: getOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrderResponse"
      x-mint:
        href: /api-reference/orders/get-order
  /integration/offboardings/{id}:
    get:
      tags:
      - Offboardings
      operationId: getOffboarding
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
      x-mint:
        href: /api-reference/offboardings/get-offboarding
  /integration/invoices/{id}:
    get:
      tags:
      - Invoices
      operationId: getInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
      x-mint:
        href: /api-reference/invoices/get-invoice
  /integration/equipment-model-types:
    get:
      tags:
      - Equipment Specifications
      operationId: listModelTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      x-mint:
        href: /api-reference/equipment-specifications/list-model-types
  /integration/countries:
    get:
      tags:
      - Countries
      operationId: getCountries
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountryResponse"
      deprecated: true
      x-mint:
        href: /api-reference/countries/get-countries
  /integration/company-entities:
    get:
      tags:
      - Company Entities
      operationId: getCompanyEntities
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageCompanyEntityResponse"
      x-mint:
        href: /api-reference/company-entities/get-company-entities
  /integration/company-entities/{id}:
    get:
      tags:
      - Company Entities
      operationId: getCompanyEntity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyEntityResponse"
      x-mint:
        href: /api-reference/company-entities/get-company-entity
  /integration/company-addresses/{id}:
    get:
      tags:
      - Company Addresses
      operationId: getCompanyAddress
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyAddressResponse"
      x-mint:
        href: /api-reference/company-addresses/get-company-address
  /integration/collections/{id}:
    get:
      tags:
      - Collections
      operationId: getCollection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
      x-mint:
        href: /api-reference/collections/get-collection
components:
  schemas:
    CreateEmployeeRequest:
      type: object
      properties:
        fullName:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        equipmentIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        role:
          type: string
          nullable: true
          enum:
          - EMPLOYEE
          - COMPANY_ADMIN
          - TEQUIPY_ADMIN
          - STORAGE
          - INTERNAL_ADMIN
          - API_CLIENT
          - API_CLIENT_READONLY
          - AI_AGENT
        tags:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        licences:
          uniqueItems: true
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/CreateUserLicenceRequest"
        privateEmail:
          type: string
          nullable: true
        address:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/DeliveryAddressRequest"
        sendToWorkEmail:
          type: boolean
          nullable: true
    CreateUserLicenceRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        from:
          type: string
          format: date
          nullable: true
        expirationDate:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
    DeliveryAddressRequest:
      type: object
      properties:
        fullName:
          type: string
          nullable: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        countrySubdivisionCode:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
    EquipmentResponse:
      type: object
    Money:
      type: object
    TagResponse:
      type: object
    UserResponse:
      type: object
    ArchiveUserRequest:
      type: object
      properties:
        equipmentArchivizationType:
          type: string
          nullable: true
          enum:
          - ARCHIVED
          - GIVEN_AWAY
    UsersQueryApiRequest:
      type: object
      properties:
        searchPhrase:
          type: string
          nullable: true
        states:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - CREATED
            - ACTIVE
            - ARCHIVED
            - DELETED
            - OFFBOARDING_IN_PROGRESS
            - OFFBOARDED
        roles:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - EMPLOYEE
            - COMPANY_ADMIN
            - TEQUIPY_ADMIN
            - STORAGE
            - INTERNAL_ADMIN
            - API_CLIENT
            - API_CLIENT_READONLY
            - AI_AGENT
        companyId:
          type: string
          format: uuid
          nullable: true
    CompanyAddressResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        addressName:
          type: string
          nullable: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
          nullable: true
        type:
          type: string
        contactPersonFullName:
          type: string
          nullable: true
        contactPersonPhone:
          type: string
          nullable: true
        contactPersonEmail:
          type: string
          nullable: true
        supportedCountries:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/CountryResponse"
    CountryResponse:
      type: object
      properties:
        code:
          type: string
        displayName:
          type: string
    DeliveryAddressResponse:
      type: object
      properties:
        fullName:
          type: string
          nullable: true
        address:
          type: string
          description: Use streetLine1 and streetLine2 instead
          nullable: true
          deprecated: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        country:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
          nullable: true
    EquipmentRepairResponse:
      type: object
      properties:
        id:
          type: string
          nullable: true
        contactEmail:
          type: string
          nullable: true
        requesterEmail:
          type: string
          nullable: true
        deliveryAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/DeliveryAddressResponse"
        reason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        decisionComment:
          type: string
          nullable: true
        diagnosis:
          type: string
          nullable: true
        price:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/Money"
        pricingSummary:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PricingSummaryResponse"
        createdAt:
          type: string
          format: date-time
          nullable: true
        initiatedAt:
          type: string
          format: date-time
          nullable: true
        scheduledAt:
          type: string
          format: date-time
          nullable: true
        pickedUpAt:
          type: string
          format: date-time
          nullable: true
        pickUpRejectedAt:
          type: string
          format: date-time
          nullable: true
        deliveredAt:
          type: string
          format: date-time
          nullable: true
        estimatedDeliveredAt:
          type: string
          format: date-time
          nullable: true
        diagnosedAt:
          type: string
          format: date-time
          nullable: true
        repairApprovedAt:
          type: string
          format: date-time
          nullable: true
        repairRejectedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        dropOffAgreedAt:
          type: string
          format: date-time
          nullable: true
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        state:
          type: string
          nullable: true
          enum:
          - SET
          - INITIATED
          - DROP_OFF_AGREED
          - SCHEDULED
          - PICKED_UP
          - PICK_UP_REJECTED
          - DELIVERED
          - DIAGNOSED
          - REPAIR_REJECTED
          - REPAIR_APPROVED
          - COMPLETED
          - CANCELLED
          - DELETED
        userEquipment:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserEquipmentResponse"
        user:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserResponse"
        companyAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressResponse"
        images:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/UserEquipmentFileResponse"
    EquipmentWarrantyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          enum:
          - APPLE_CARE
          - APPLE_CARE_PLUS
        price:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/Money"
        startAt:
          type: string
          format: date-time
          nullable: true
    KeyboardLayoutResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        countryCode:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - UNDEFINED
            - AC
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AN
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BU
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CP
            - CR
            - CS
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DG
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EA
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - EU
            - EZ
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - FX
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - IC
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - "NO"
            - NP
            - NR
            - NT
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SF
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SU
            - SV
            - SX
            - SY
            - SZ
            - TA
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TP
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UK
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - XI
            - XU
            - XK
            - YE
            - YT
            - YU
            - ZA
            - ZM
            - ZR
            - ZW
    PageUserResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/UserResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    PageableObject:
      type: object
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: "#/components/schemas/SortObject"
        unpaged:
          type: boolean
    PricingItemResponse:
      type: object
      properties:
        type:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        optional:
          type: boolean
          nullable: true
    PricingSummaryResponse:
      type: object
      properties:
        state:
          type: string
          enum:
          - ESTIMATED
          - FINAL
        items:
          type: array
          items:
            $ref: "#/components/schemas/PricingItemResponse"
        totalPrice:
          $ref: "#/components/schemas/Money"
        minTotalPrice:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/Money"
    SortObject:
      type: object
      properties:
        sorted:
          type: boolean
        empty:
          type: boolean
        unsorted:
          type: boolean
    UserEquipmentDeviceEnrollmentResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - DEP
          - WINDOWS_AUTOPILOT_MANUAL
          - WINDOWS_AUTOPILOT_AUTOMATIC
          - NONE
        windowsAutopilot:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/WindowsAutopilotResponse"
    UserEquipmentFileResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        fileUrl:
          type: string
    UserEquipmentHistoryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        text:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
    UserEquipmentNoteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        text:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
    UserEquipmentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        serialNumber:
          type: string
          nullable: true
        equipment:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/EquipmentResponse"
        createdAt:
          type: string
          format: date-time
          nullable: true
        assignedAt:
          type: string
          format: date-time
          nullable: true
        user:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserResponse"
        history:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/UserEquipmentHistoryResponse"
        files:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/UserEquipmentFileResponse"
        notesList:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/UserEquipmentNoteResponse"
        repairs:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EquipmentRepairResponse"
        storage:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressResponse"
        equipmentWarranty:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/EquipmentWarrantyResponse"
        keyboardLayout:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/KeyboardLayoutResponse"
        deviceEnrollment:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserEquipmentDeviceEnrollmentResponse"
        state:
          type: string
          nullable: true
          enum:
          - ACTIVE
          - ARCHIVED
          - DELETED
          - OFFBOARDING_IN_PROGRESS
          - GIVEN_AWAY
          - LOCKED
          - SOLD_BACK
        updatedAt:
          type: string
          format: date-time
          nullable: true
        abmAssignmentState:
          type: string
          nullable: true
          enum:
          - ASSIGNED
          - NOT_ASSIGNED
          - UNKNOWN
        new:
          type: boolean
    WindowsAutopilotResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        tenantId:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        csvFileUrl:
          type: string
          format: uri
          nullable: true
    UserEquipmentQueryRequest:
      type: object
      properties:
        userEquipmentIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        types:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - MAIN_COMPUTER
            - ACCESSORY
            - SWAG
        subTypes:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - MAIN_COMPUTER
            - SWAG
            - SCREEN
            - MOUSE
            - KEYBOARD
            - HEADSET
            - OTHER
            - PHONE
        searchPhrase:
          type: string
          nullable: true
        storageOwners:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - TEQUIPY
            - INTERNAL
        states:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - ACTIVE
            - ARCHIVED
            - DELETED
            - OFFBOARDING_IN_PROGRESS
            - GIVEN_AWAY
            - LOCKED
            - SOLD_BACK
        companyAddressIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        sourceType:
          type: string
          enum:
          - STORAGE
          - EMPLOYEES
        updatedFrom:
          type: string
          format: date
          nullable: true
        updatedTo:
          type: string
          format: date
          nullable: true
        storageLocationCountryCode:
          type: string
          nullable: true
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        abmState:
          type: string
          nullable: true
          enum:
          - ASSIGNED
          - NOT_ASSIGNED
          - UNKNOWN
          - NON_APPLE
        new:
          type: boolean
    PageUserEquipmentResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    CompanyAddressDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        addressName:
          type: string
          nullable: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        countrySubdivisionCode:
          type: string
          nullable: true
        contactPersonFullName:
          type: string
          nullable: true
        contactPersonPhone:
          type: string
          nullable: true
        contactPersonEmail:
          type: string
          nullable: true
    CreateUserEquipmentRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        specification:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              type: string
        image:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/FileDto"
        companyAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressDto"
        user:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserDto"
        type:
          type: string
          nullable: true
          enum:
          - MAIN_COMPUTER
          - SWAG
          - SCREEN
          - MOUSE
          - KEYBOARD
          - HEADSET
          - OTHER
          - PHONE
        files:
          uniqueItems: true
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/FileDto"
        modelType:
          type: string
          nullable: true
          enum:
          - LAPTOP
          - MONITOR
          - TABLET
          - SMARTPHONE
          - KEYBOARD_AND_MOUSE
          - CABLES
          - CHARGER
          - ACCESSORIES
          - HEADSET
        parameterValueIds:
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        serialNumber:
          type: string
          nullable: true
        new:
          type: boolean
    FileDto:
      type: object
      properties:
        name:
          type: string
          nullable: true
        size:
          type: number
          nullable: true
        fileUrl:
          type: string
          nullable: true
    UserDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        privateEmail:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
    CreateEquipmentRepairRequest:
      type: object
      properties:
        pickUpDetails:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PickUpDetailsRequest"
        userEquipmentId:
          type: string
          format: uuid
          nullable: true
        reason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        images:
          uniqueItems: true
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/FileDto"
        requesterEmail:
          type: string
          nullable: true
        startAt:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        companyEntityId:
          type: string
          format: uuid
          nullable: true
    PickUpDetailsRequest:
      type: object
      properties:
        privateEmail:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        fullName:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        country:
          type: string
          description: use countryCode
          nullable: true
          deprecated: true
        countrySubdivisionCode:
          type: string
          nullable: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        address:
          type: string
          nullable: true
    EquipmentRepairDecisionRequest:
      type: object
      properties:
        decisionComment:
          type: string
          nullable: true
    EquipmentRepairQueryRequest:
      type: object
      properties:
        searchPhrase:
          type: string
          nullable: true
        states:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - SET
            - INITIATED
            - DROP_OFF_AGREED
            - SCHEDULED
            - PICKED_UP
            - PICK_UP_REJECTED
            - DELIVERED
            - DIAGNOSED
            - REPAIR_REJECTED
            - REPAIR_APPROVED
            - COMPLETED
            - CANCELLED
            - DELETED
        equipmentTypes:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - MAIN_COMPUTER
            - ACCESSORY
            - SWAG
        createdFrom:
          type: string
          format: date
          nullable: true
        createdTo:
          type: string
          format: date
          nullable: true
    PageEquipmentRepairResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/EquipmentRepairResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    CompanyAddressRequest:
      type: object
      properties:
        addressName:
          type: string
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        countryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        countrySubdivisionCode:
          type: string
          nullable: true
        supportedCountries:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - UNDEFINED
            - AC
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AN
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BU
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CP
            - CR
            - CS
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DG
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EA
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - EU
            - EZ
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - FX
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - IC
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - "NO"
            - NP
            - NR
            - NT
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SF
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SU
            - SV
            - SX
            - SY
            - SZ
            - TA
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TP
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UK
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - XI
            - XU
            - XK
            - YE
            - YT
            - YU
            - ZA
            - ZM
            - ZR
            - ZW
        contactPersonFullName:
          type: string
          nullable: true
        contactPersonPhone:
          type: string
          nullable: true
        contactPersonEmail:
          type: string
          nullable: true
        orderSupported:
          type: boolean
          nullable: true
    CreateRedeploymentRequest:
      required:
      - deliveryAddress
      type: object
      properties:
        storageEquipmentIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        startDate:
          type: string
          format: date
          nullable: true
        deliveryAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/DeliveryAddressRequest"
        employeeId:
          type: string
          format: uuid
          nullable: true
        employee:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CreateEmployeeRequest"
        contactPersonEmail:
          type: string
          nullable: true
        companyEntityId:
          type: string
          format: uuid
          nullable: true
        notes:
          type: string
          nullable: true
        companyAddressId:
          type: string
          format: uuid
          nullable: true
        companyAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressRequest"
    EquipmentDeliveryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        trackingType:
          type: string
          enum:
          - WITHOUT_TRACKING
          - REGULAR
    EquipmentRedeploymentResponse:
      type: object
      properties:
        id:
          type: string
          nullable: true
        user:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/UserResponse"
        companyAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressResponse"
        deliveryAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/DeliveryAddressResponse"
        equipmentDelivery:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/EquipmentDeliveryResponse"
        contactPersonEmail:
          type: string
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        startProcessingAt:
          type: string
          format: date-time
          nullable: true
        sentAt:
          type: string
          format: date-time
          nullable: true
        outForDeliveryAt:
          type: string
          format: date-time
          nullable: true
        deliveryFailedAt:
          type: string
          format: date-time
          nullable: true
        deliveryFailureReason:
          type: string
          nullable: true
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        estimatedDeliveryDate:
          type: string
          format: date
          nullable: true
        estimatedDeliveryDateHistory:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EventLogEstimatedDeliveryDateResponse"
        delayed:
          type: boolean
        delayReason:
          type: string
          nullable: true
          enum:
          - COURIER_ISSUES
          - REMOTE_DELIVERY_ADDRESS
          - INCOMPLETE_ADDRESS
          - HOLIDAY_PERIOD
        notes:
          type: string
          nullable: true
        tequipyNotes:
          type: string
          nullable: true
        tequipyEmployeeEmail:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
          enum:
          - RECEIVED
          - PREPARING
          - SENT
          - OUT_FOR_DELIVERY
          - DELIVERY_FAILED
          - DECLINED
          - DELIVERED
        userEquipment:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/UserEquipmentResponse"
        price:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/Money"
        pricingSummary:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PricingSummaryResponse"
    EventLogEstimatedDeliveryDateResponse:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        estimatedDeliveryDate:
          type: string
          format: date
          nullable: true
        source:
          type: string
          enum:
          - AUTOMATIC
          - OPS
    EquipmentRedeploymentQueryRequest:
      type: object
      properties:
        searchPhrase:
          type: string
          nullable: true
        states:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - RECEIVED
            - PREPARING
            - SENT
            - OUT_FOR_DELIVERY
            - DELIVERY_FAILED
            - DECLINED
            - DELIVERED
        targetTypes:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            enum:
            - STORAGE
            - EMPLOYEES
        userIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        companyAddressIds:
          uniqueItems: true
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        createdAt:
          type: string
          format: date
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
    PageEquipmentRedeploymentResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/EquipmentRedeploymentResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    CreateOrderRequest:
      required:
      - companyEntityId
      - orderType
      type: object
      properties:
        equipment:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderEquipmentRequest"
        orderType:
          type: string
          nullable: true
          enum:
          - NEW_EMPLOYEE
          - ASSIGN_EXISTING
          - COMPANY
          - ONBOARDING
          - TEQUIPY_WAREHOUSE
        startDate:
          type: string
          format: date
          nullable: true
        deliveryAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/DeliveryAddressRequest"
        employeeId:
          type: string
          format: uuid
          nullable: true
        employeeEmail:
          type: string
          nullable: true
        employee:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CreateEmployeeRequest"
        contactPersonFullName:
          type: string
          nullable: true
        contactPersonPhone:
          type: string
          nullable: true
        contactPersonEmail:
          type: string
          nullable: true
        companyEntityName:
          type: string
          nullable: true
        companyEntityId:
          type: string
          format: uuid
          nullable: true
        notes:
          type: string
          nullable: true
        purchaseOrderNumber:
          type: string
          nullable: true
        paymentMethod:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PaymentMethodDto"
        depOrganisationId:
          type: string
          nullable: true
        depRequested:
          type: boolean
        windowsAutopilotRequested:
          type: boolean
        deliveryType:
          type: string
          nullable: true
          enum:
          - STANDARD
          - EXPRESS
        companyAddressId:
          type: string
          format: uuid
          nullable: true
        companyAddress:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CompanyAddressRequest"
        paymentMethodType:
          type: string
          enum:
          - CREDIT_LINE
          - STRIPE
        paymentMethodSource:
          type: string
          nullable: true
          enum:
          - GB
          - EU
          - US
    OrderEquipmentRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        size:
          type: integer
          format: int32
        keyboardLayoutId:
          type: string
          format: uuid
          nullable: true
        equipmentWarrantyId:
          type: string
          format: uuid
          nullable: true
    PaymentMethodDto:
      type: object
      properties:
        method:
          type: string
          nullable: true
          enum:
          - CREDIT_LINE
          - STRIPE
        source:
          type: string
          nullable: true
          enum:
          - GB
          - EU
          - US
    BankAccountDetails:
      required:
      - clazz
      type: object
      properties:
        clazz:
          type: string
      discriminator:
        propertyName: clazz
    CompanyDepOrganisation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        organisationId:
          type: string
        name:
          type: string
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CompanyDepOrganisationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisationId:
          type: string
        name:
          type: string
    CompanyEntityResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        legalName:
          type: string
          nullable: true
        streetLine1:
          type: string
          nullable: true
        streetLine2:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        invoicingEmail:
          type: string
          nullable: true
        country:
          nullable: true
          allOf:
          - $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
          nullable: true
        currency:
          type: object
          properties:
            numericCode:
              type: integer
              format: int32
            context:
              type: object
              properties:
                providerName:
                  type: string
                empty:
                  type: boolean
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
          nullable: true
        vatId:
          type: string
          nullable: true
        vies:
          type: boolean
          nullable: true
    DepAggregate:
[...]
