openapi: 3.0.1
info:
  title: Tequipy Integration API
  description: Public/partner API for Tequipy integrations. All endpoints require
    a Bearer JWT token obtained via the Tequipy authentication flow.
  version: v1
servers:
- url: https://prod.backend.tequipy.com
security:
- bearerAuth: []
paths:
  /integration/users:
    post:
      tags:
      - users-api-controller
      operationId: createEmployee
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmployeeRequest"
        required: true
      responses:
        "200":
          description: OK
          content: {}
  /integration/users/{id}/archive:
    post:
      tags:
      - users-api-controller
      operationId: archiveUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveUserRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
  /integration/users/query:
    post:
      tags:
      - users-api-controller
      operationId: queryUsers
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsersQueryApiRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageUserResponse"
  /integration/user-equipments/query:
    post:
      tags:
      - user-equipment-api-controller
      operationId: queryUserEquipments
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserEquipmentQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageUserEquipmentResponse"
  /integration/user-equipment:
    post:
      tags:
      - user-equipment-api-controller
      operationId: createUserEquipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserEquipmentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
  /integration/redeployments:
    post:
      tags:
      - equipment-redeployment-api-controller
      operationId: createEquipmentRedeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRedeploymentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRedeploymentResponse"
  /integration/redeployments/query:
    post:
      tags:
      - equipment-redeployment-api-controller
      operationId: redeploymentsQuery
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "updatedAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentRedeploymentQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentRedeploymentResponse"
  /integration/orders:
    post:
      tags:
      - order-api-controller
      operationId: addOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrderResponse"
  /integration/orders/query:
    post:
      tags:
      - order-api-controller
      operationId: ordersQuery
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "createdAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageOrderResponse"
  /integration/offboardings:
    post:
      tags:
      - user-offboarding-api-controller
      operationId: createOffboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOffboardingRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
  /integration/offboardings/{id}/cancel:
    post:
      tags:
      - user-offboarding-api-controller
      operationId: cancel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
  /integration/offboardings/query:
    post:
      tags:
      - user-offboarding-api-controller
      operationId: queryOffboardings
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OffboardingQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageOffboardingResponse"
  /integration/invoices/query:
    post:
      tags:
      - invoices-api-controller
      operationId: invoicesQuery
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceQueryRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageInvoiceResponse"
  /integration/equipments/query:
    post:
      tags:
      - equipment-api-controller
      operationId: queryEquipment
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - "createdAt,DESC"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentResponse"
  /integration/countries/query:
    post:
      tags:
      - country-api-controller
      operationId: queryCountries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CountryQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountryResponse"
  /integration/company-addresses/query:
    post:
      tags:
      - company-address-api-controller
      operationId: queryAddresses
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyAddressQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageCompanyAddressResponse"
  /integration/collections:
    post:
      tags:
      - equipment-collection-api-controller
      operationId: createEquipmentCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentCollectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
  /integration/collections/{id}/cancel:
    post:
      tags:
      - equipment-collection-api-controller
      operationId: cancel_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
  /integration/collections/query:
    post:
      tags:
      - equipment-collection-api-controller
      operationId: queryEquipmentCollections
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EquipmentCollectionQueryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEquipmentCollectionResponse"
  /integration/users/{id}:
    get:
      tags:
      - users-api-controller
      operationId: getUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
    patch:
      tags:
      - users-api-controller
      operationId: updateUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
  /integration/user-equipment/{id}:
    get:
      tags:
      - user-equipment-api-controller
      operationId: getUserEquipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
    patch:
      tags:
      - user-equipment-api-controller
      operationId: editEquipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserEquipmentRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserEquipmentResponse"
  /integration/tags:
    get:
      tags:
      - tag-api-controller
      operationId: getTags
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TagResponse"
  /integration/redeployments/{id}:
    get:
      tags:
      - equipment-redeployment-api-controller
      operationId: getRedeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentRedeploymentResponse"
  /integration/orders/{id}:
    get:
      tags:
      - order-api-controller
      operationId: getOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrderResponse"
  /integration/offboardings/{id}:
    get:
      tags:
      - user-offboarding-api-controller
      operationId: getById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OffboardingResponse"
  /integration/invoices/{id}:
    get:
      tags:
      - invoices-api-controller
      operationId: getInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
  /integration/countries:
    get:
      tags:
      - country-api-controller
      operationId: getCountries
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountryResponse"
      deprecated: true
  /integration/company-entities:
    get:
      tags:
      - company-entity-api-controller
      operationId: getCompanyEntities
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageCompanyEntityResponse"
  /integration/company-entities/{id}:
    get:
      tags:
      - company-entity-api-controller
      operationId: getCompanyEntity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyEntityResponse"
  /integration/company-addresses/{id}:
    get:
      tags:
      - company-address-api-controller
      operationId: getAddress
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyAddressResponse"
  /integration/collections/{id}:
    get:
      tags:
      - equipment-collection-api-controller
      operationId: getById_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EquipmentCollectionResponse"
components:
  schemas:
    CreateEmployeeRequest:
      type: object
      properties:
        fullName:
          type: string
        position:
          type: string
        email:
          type: string
        phone:
          type: string
        startDate:
          type: string
          format: date
        equipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        role:
          type: string
          enum:
          - EMPLOYEE
          - COMPANY_ADMIN
          - TEQUIPY_ADMIN
          - STORAGE
          - INTERNAL_ADMIN
          - API_CLIENT
          - API_CLIENT_READONLY
          - AI_AGENT
        tags:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        licences:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CreateUserLicenceRequest"
        privateEmail:
          type: string
        address:
          $ref: "#/components/schemas/DeliveryAddressRequest"
        sendToWorkEmail:
          type: boolean
    CreateUserLicenceRequest:
      type: object
      properties:
        name:
          type: string
        from:
          type: string
          format: date
        expirationDate:
          type: string
          format: date
        notes:
          type: string
    DeliveryAddressRequest:
      type: object
      properties:
        fullName:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        postalCode:
          type: string
        city:
          type: string
        countryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        country:
          type: string
        countrySubdivisionCode:
          type: string
        phoneNumber:
          type: string
    EquipmentResponse:
      required:
      - id
      - name
      - type
      type: object
    Money:
      type: object
    TagResponse:
      required:
      - id
      - name
      type: object
    UserResponse:
      required:
      - email
      - id
      type: object
    ArchiveUserRequest:
      type: object
      properties:
        equipmentArchivizationType:
          type: string
          enum:
          - ARCHIVED
          - GIVEN_AWAY
    UsersQueryApiRequest:
      type: object
      properties:
        searchPhrase:
          type: string
        states:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - CREATED
            - ACTIVE
            - ARCHIVED
            - DELETED
            - OFFBOARDING_IN_PROGRESS
            - OFFBOARDED
        roles:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - EMPLOYEE
            - COMPANY_ADMIN
            - TEQUIPY_ADMIN
            - STORAGE
            - INTERNAL_ADMIN
            - API_CLIENT
            - API_CLIENT_READONLY
            - AI_AGENT
        companyId:
          type: string
          format: uuid
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
    CompanyAddressResponse:
      required:
      - country
      - id
      - type
      type: object
      properties:
        id:
          type: string
          format: uuid
        addressName:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
        type:
          type: string
        contactPersonFullName:
          type: string
        contactPersonPhone:
          type: string
        contactPersonEmail:
          type: string
        supportedCountries:
          type: array
          items:
            $ref: "#/components/schemas/CountryResponse"
    CountryResponse:
      required:
      - code
      - displayName
      type: object
      properties:
        code:
          type: string
        displayName:
          type: string
    DeliveryAddressResponse:
      type: object
      properties:
        fullName:
          type: string
        address:
          type: string
          description: Use streetLine1 and streetLine2 instead
          deprecated: true
        streetLine1:
          type: string
        streetLine2:
          type: string
        city:
          type: string
        postalCode:
          type: string
        phoneNumber:
          type: string
        country:
          $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
    EquipmentRepairResponse:
      type: object
      properties:
        id:
          type: string
        contactEmail:
          type: string
        requesterEmail:
          type: string
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressResponse"
        reason:
          type: string
        description:
          type: string
        notes:
          type: string
        decisionComment:
          type: string
        diagnosis:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        pricingSummary:
          $ref: "#/components/schemas/PricingSummaryResponse"
        createdAt:
          type: string
          format: date-time
        initiatedAt:
          type: string
          format: date-time
        scheduledAt:
          type: string
          format: date-time
        pickedUpAt:
          type: string
          format: date-time
        pickUpRejectedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        estimatedDeliveredAt:
          type: string
          format: date-time
        diagnosedAt:
          type: string
          format: date-time
        repairApprovedAt:
          type: string
          format: date-time
        repairRejectedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        dropOffAgreedAt:
          type: string
          format: date-time
        cancelledAt:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - SET
          - INITIATED
          - DROP_OFF_AGREED
          - SCHEDULED
          - PICKED_UP
          - PICK_UP_REJECTED
          - DELIVERED
          - DIAGNOSED
          - REPAIR_REJECTED
          - REPAIR_APPROVED
          - COMPLETED
          - CANCELLED
          - DELETED
        userEquipment:
          $ref: "#/components/schemas/UserEquipmentResponse"
        user:
          $ref: "#/components/schemas/UserResponse"
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressResponse"
        images:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentFileResponse"
    EquipmentWarrantyResponse:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          enum:
          - APPLE_CARE
          - APPLE_CARE_PLUS
        price:
          $ref: "#/components/schemas/Money"
        startAt:
          type: string
          format: date-time
    KeyboardLayoutResponse:
      required:
      - countryCode
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        countryCode:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - UNDEFINED
            - AC
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AN
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BU
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CP
            - CR
            - CS
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DG
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EA
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - EU
            - EZ
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - FX
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - IC
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - "NO"
            - NP
            - NR
            - NT
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SF
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SU
            - SV
            - SX
            - SY
            - SZ
            - TA
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TP
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UK
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - XI
            - XU
            - XK
            - YE
            - YT
            - YU
            - ZA
            - ZM
            - ZR
            - ZW
    PageUserResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/UserResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        empty:
          type: boolean
    PageableObject:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          $ref: "#/components/schemas/SortObject"
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        unpaged:
          type: boolean
    PricingItemResponse:
      required:
      - price
      - type
      type: object
      properties:
        type:
          type: string
        price:
          $ref: "#/components/schemas/Money"
    PricingSummaryResponse:
      required:
      - items
      - state
      - totalPrice
      type: object
      properties:
        state:
          type: string
          enum:
          - ESTIMATED
          - FINAL
        items:
          type: array
          items:
            $ref: "#/components/schemas/PricingItemResponse"
        totalPrice:
          $ref: "#/components/schemas/Money"
    SortObject:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    UserEquipmentDeviceEnrollmentResponse:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - DEP
          - WINDOWS_AUTOPILOT_MANUAL
          - WINDOWS_AUTOPILOT_AUTOMATIC
          - NONE
        windowsAutopilot:
          $ref: "#/components/schemas/WindowsAutopilotResponse"
    UserEquipmentFileResponse:
      required:
      - fileUrl
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        fileUrl:
          type: string
    UserEquipmentHistoryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        text:
          type: string
        title:
          type: string
    UserEquipmentNoteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        text:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserEquipmentResponse:
      required:
      - id
      - isNew
      type: object
      properties:
        id:
          type: string
          format: uuid
        serialNumber:
          type: string
        equipment:
          $ref: "#/components/schemas/EquipmentResponse"
        createdAt:
          type: string
          format: date-time
        user:
          $ref: "#/components/schemas/UserResponse"
        history:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentHistoryResponse"
        files:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentFileResponse"
        notesList:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentNoteResponse"
        repairs:
          type: array
          items:
            $ref: "#/components/schemas/EquipmentRepairResponse"
        storage:
          $ref: "#/components/schemas/CompanyAddressResponse"
        price:
          $ref: "#/components/schemas/Money"
        equipmentWarranty:
          $ref: "#/components/schemas/EquipmentWarrantyResponse"
        keyboardLayout:
          $ref: "#/components/schemas/KeyboardLayoutResponse"
        deviceEnrollment:
          $ref: "#/components/schemas/UserEquipmentDeviceEnrollmentResponse"
        state:
          type: string
          enum:
          - ACTIVE
          - ARCHIVED
          - DELETED
          - OFFBOARDING_IN_PROGRESS
          - GIVEN_AWAY
          - LOCKED
          - SOLD_BACK
        updatedAt:
          type: string
          format: date-time
        isNew:
          type: boolean
        abmAssignmentState:
          type: string
          enum:
          - ASSIGNED
          - NOT_ASSIGNED
          - UNKNOWN
    WindowsAutopilotResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        tenantId:
          type: string
        domain:
          type: string
        csvFileUrl:
          type: string
          format: uri
    UserEquipmentQueryRequest:
      required:
      - sourceType
      type: object
      properties:
        userEquipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        types:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - MAIN_COMPUTER
            - ACCESSORY
            - SWAG
        subTypes:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - MAIN_COMPUTER
            - SWAG
            - SCREEN
            - MOUSE
            - KEYBOARD
            - HEADSET
            - OTHER
            - PHONE
        searchPhrase:
          type: string
        storageOwners:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - TEQUIPY
            - INTERNAL
        states:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - ACTIVE
            - ARCHIVED
            - DELETED
            - OFFBOARDING_IN_PROGRESS
            - GIVEN_AWAY
            - LOCKED
            - SOLD_BACK
        companyAddressIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        sourceType:
          type: string
          enum:
          - STORAGE
          - EMPLOYEES
        updatedFrom:
          type: string
          format: date
        updatedTo:
          type: string
          format: date
        storageLocationCountryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        currency:
          type: object
          properties:
            numericCode:
              type: integer
              format: int32
            context:
              type: object
              properties:
                providerName:
                  type: string
                empty:
                  type: boolean
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
        isNew:
          type: boolean
        abmState:
          type: string
          enum:
          - ASSIGNED
          - NOT_ASSIGNED
          - UNKNOWN
          - NON_APPLE
    PageUserEquipmentResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        empty:
          type: boolean
    CompanyAddressDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        addressName:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        postalCode:
          type: string
        city:
          type: string
        countryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        countrySubdivisionCode:
          type: string
        contactPersonFullName:
          type: string
        contactPersonPhone:
          type: string
        contactPersonEmail:
          type: string
    CreateUserEquipmentRequest:
      type: object
      properties:
        serialNumber:
          type: string
        name:
          type: string
        specification:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        image:
          $ref: "#/components/schemas/FileDto"
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressDto"
        user:
          $ref: "#/components/schemas/UserDto"
        type:
          type: string
          enum:
          - MAIN_COMPUTER
          - SWAG
          - SCREEN
          - MOUSE
          - KEYBOARD
          - HEADSET
          - OTHER
          - PHONE
        files:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FileDto"
        isNew:
          type: boolean
    FileDto:
      type: object
      properties:
        name:
          type: string
        size:
          type: number
        fileUrl:
          type: string
    UserDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        position:
          type: string
        email:
          type: string
        privateEmail:
          type: string
        phone:
          type: string
        startDate:
          type: string
          format: date
    CompanyAddressRequest:
      required:
      - addressName
      - countryCode
      type: object
      properties:
        addressName:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        postalCode:
          type: string
        city:
          type: string
        countryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        countrySubdivisionCode:
          type: string
        supportedCountries:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - UNDEFINED
            - AC
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AN
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BU
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CP
            - CR
            - CS
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DG
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EA
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - EU
            - EZ
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - FX
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - IC
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - "NO"
            - NP
            - NR
            - NT
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SF
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SU
            - SV
            - SX
            - SY
            - SZ
            - TA
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TP
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UK
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - XI
            - XU
            - XK
            - YE
            - YT
            - YU
            - ZA
            - ZM
            - ZR
            - ZW
        contactPersonFullName:
          type: string
        contactPersonPhone:
          type: string
        contactPersonEmail:
          type: string
        orderSupported:
          type: boolean
    CreateRedeploymentRequest:
      required:
      - deliveryAddress
      type: object
      properties:
        storageEquipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        startDate:
          type: string
          format: date
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressRequest"
        employeeId:
          type: string
          format: uuid
        employee:
          $ref: "#/components/schemas/CreateEmployeeRequest"
        contactPersonEmail:
          type: string
        companyEntityId:
          type: string
          format: uuid
        notes:
          type: string
        companyAddressId:
          type: string
          format: uuid
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressRequest"
    EquipmentDeliveryResponse:
      required:
      - id
      - trackingType
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
        number:
          type: string
        company:
          type: string
        notes:
          type: string
        trackingType:
          type: string
          enum:
          - WITHOUT_TRACKING
          - REGULAR
    EquipmentRedeploymentResponse:
      required:
      - delayed
      type: object
      properties:
        id:
          type: string
        user:
          $ref: "#/components/schemas/UserResponse"
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressResponse"
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressResponse"
        equipmentDelivery:
          $ref: "#/components/schemas/EquipmentDeliveryResponse"
        contactPersonEmail:
          type: string
        startDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        startProcessingAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
        outForDeliveryAt:
          type: string
          format: date-time
        deliveryFailedAt:
          type: string
          format: date-time
        deliveryFailureReason:
          type: string
        cancelledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        estimatedDeliveryDate:
          type: string
          format: date
        estimatedDeliveryDateHistory:
          type: array
          items:
            $ref: "#/components/schemas/EventLogEstimatedDeliveryDateResponse"
        delayed:
          type: boolean
        delayReason:
          type: string
          enum:
          - COURIER_ISSUES
          - REMOTE_DELIVERY_ADDRESS
          - INCOMPLETE_ADDRESS
          - HOLIDAY_PERIOD
        notes:
          type: string
        tequipyNotes:
          type: string
        tequipyEmployeeEmail:
          type: string
        state:
          type: string
          enum:
          - RECEIVED
          - PREPARING
          - SENT
          - OUT_FOR_DELIVERY
          - DELIVERY_FAILED
          - DECLINED
          - DELIVERED
        userEquipment:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentResponse"
        price:
          $ref: "#/components/schemas/Money"
        pricingSummary:
          $ref: "#/components/schemas/PricingSummaryResponse"
    EventLogEstimatedDeliveryDateResponse:
      required:
      - createdAt
      - source
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        estimatedDeliveryDate:
          type: string
          format: date
        source:
          type: string
          enum:
          - AUTOMATIC
          - OPS
    EquipmentRedeploymentQueryRequest:
      type: object
      properties:
        searchPhrase:
          type: string
        states:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - RECEIVED
            - PREPARING
            - SENT
            - OUT_FOR_DELIVERY
            - DELIVERY_FAILED
            - DECLINED
            - DELIVERED
        targetTypes:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - STORAGE
            - EMPLOYEES
        userIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        companyAddressIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        createdAt:
          type: string
          format: date
        companyId:
          type: string
          format: uuid
    PageEquipmentRedeploymentResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/EquipmentRedeploymentResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        empty:
          type: boolean
    CreateOrderRequest:
      required:
      - companyEntityId
      - depRequested
      - equipment
      - orderType
      - paymentMethodType
      - windowsAutopilotRequested
      type: object
      properties:
        equipment:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderEquipmentRequest"
        orderType:
          type: string
          enum:
          - NEW_EMPLOYEE
          - ASSIGN_EXISTING
          - COMPANY
          - ONBOARDING
          - TEQUIPY_WAREHOUSE
        startDate:
          type: string
          format: date
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressRequest"
        employeeId:
          type: string
          format: uuid
        employeeEmail:
          type: string
        employee:
          $ref: "#/components/schemas/CreateEmployeeRequest"
        contactPersonFullName:
          type: string
        contactPersonPhone:
          type: string
        contactPersonEmail:
          type: string
        companyEntityName:
          type: string
        companyEntityId:
          type: string
          format: uuid
        notes:
          type: string
        purchaseOrderNumber:
          type: string
        paymentMethod:
          $ref: "#/components/schemas/PaymentMethodDto"
        depOrganisationId:
          type: string
        depRequested:
          type: boolean
        windowsAutopilotRequested:
          type: boolean
        deliveryType:
          type: string
          enum:
          - STANDARD
          - EXPRESS
        companyAddressId:
          type: string
          format: uuid
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressRequest"
        paymentMethodType:
          type: string
          enum:
          - CREDIT_LINE
          - STRIPE
        paymentMethodSource:
          type: string
          enum:
          - GB
          - EU
          - US
    OrderEquipmentRequest:
      required:
      - id
      - size
      type: object
      properties:
        id:
          type: string
          format: uuid
        size:
          type: integer
          format: int32
        keyboardLayoutId:
          type: string
          format: uuid
        equipmentWarrantyId:
          type: string
          format: uuid
    PaymentMethodDto:
      type: object
      properties:
        method:
          type: string
          enum:
          - CREDIT_LINE
          - STRIPE
        source:
          type: string
          enum:
          - GB
          - EU
          - US
    BankAccountDetails:
      required:
      - clazz
      type: object
      properties:
        clazz:
          type: string
      discriminator:
        propertyName: clazz
    CompanyDepOrganisation:
      required:
      - companyId
      - createdAt
      - id
      - name
      - organisationId
      - state
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        organisationId:
          type: string
        name:
          type: string
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CompanyDepOrganisationResponse:
      required:
      - id
      - name
      - organisationId
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisationId:
          type: string
        name:
          type: string
    CompanyEntityResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          format: uuid
        legalName:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        postalCode:
          type: string
        city:
          type: string
        invoicingEmail:
          type: string
        country:
          $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
        currency:
          type: object
          properties:
            numericCode:
              type: integer
              format: int32
            context:
              type: object
              properties:
                providerName:
                  type: string
                empty:
                  type: boolean
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
        vatId:
          type: string
        vies:
          type: boolean
    DepAggregate:
      required:
      - depOrganisation
      - depPartners
      - organisationId
      type: object
      properties:
        organisationId:
          type: string
        depPartners:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DepPartner"
        depOrganisation:
          $ref: "#/components/schemas/CompanyDepOrganisation"
    DepOrderResponse:
      type: object
      properties:
        organisationId:
          type: string
        depPartners:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/DepPartner"
        depOrganisation:
          $ref: "#/components/schemas/CompanyDepOrganisationResponse"
    DepPartner:
      required:
      - countryCodes
      - createdAt
      - id
      - name
      - resellerId
      - state
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        resellerId:
          type: string
        countryCodes:
          type: array
          items:
            type: string
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DeviceEnrollmentResponse:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - DEP
          - WINDOWS_AUTOPILOT_MANUAL
          - WINDOWS_AUTOPILOT_AUTOMATIC
          - NONE
        windowsAutopilot:
          $ref: "#/components/schemas/WindowsAutopilotResponse"
        dep:
          $ref: "#/components/schemas/DepAggregate"
    IbanDetails:
      required:
      - iban
      - swift
      type: object
      allOf:
      - $ref: "#/components/schemas/BankAccountDetails"
      - type: object
        properties:
          iban:
            type: string
          swift:
            type: string
    InvoiceDocumentResponse:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          format: uuid
        documentRef:
          type: string
        type:
          type: string
          enum:
          - INVOICE
          - INVOICE_PRE_PAYMENT
          - INVOICE_PROFORMA
          - COST_INVOICE
          - CREDIT_NOTE
        url:
          type: string
        filename:
          type: string
    InvoiceItemResponse:
      required:
      - createdAt
      - id
      - isVatApplicable
      - type
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceId:
          type: string
        type:
          type: string
          enum:
          - ORDER
          - TEQUIPY_COMMISSION
          - REDEPLOYMENT
          - WARRANTY
          - STORAGE
          - EQUIPMENT_REPAIR
          - OFFBOARDING
          - EQUIPMENT_COLLECTION
          - REPAIRED_EQUIPMENT_COLLECTION
          - EQUIPMENT_WIPE_AND_CLEAN
          - EQUIPMENT_PACKAGING
          - PART_REPLACEMENT_SERVICE
          - EQUIPMENT_PRECONFIGURATION
          - APP
          - HRIS_INTEGRATION
          - EQUIPMENT_SELLBACK
          - DELIVERY
          - EXPORT_FEE
        description:
          type: string
        grossPrice:
          $ref: "#/components/schemas/Money"
        netPrice:
          $ref: "#/components/schemas/Money"
        vatPercentageRate:
          type: string
        isVatApplicable:
          type: boolean
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    InvoiceResponse:
      required:
      - id
      - state
      - type
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          description: use documents
          deprecated: true
        filename:
          type: string
          description: use documents
          deprecated: true
        documentType:
          type: string
          description: use documents
          deprecated: true
          enum:
          - INVOICE
          - INVOICE_PRE_PAYMENT
          - INVOICE_PROFORMA
          - COST_INVOICE
          - CREDIT_NOTE
        invoiceRef:
          type: string
          description: use documents
          deprecated: true
        companyEntity:
          $ref: "#/components/schemas/CompanyEntityResponse"
        tequipyEntityId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - ORDER
          - REPAIR
          - STORAGE
          - LOGISTICS
          - APP
          - SELLBACK
          - PRECONFIGURATION
          - VENDOR
        paymentDueAt:
          type: string
          format: date-time
        grossPrice:
          $ref: "#/components/schemas/Money"
        netPrice:
          $ref: "#/components/schemas/Money"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - CREATED
          - PAYMENT_PENDING
          - PAYMENT_FAILED
          - PAID
          - DECLINED
          - DELETED
        invoiceItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItemResponse"
        documents:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceDocumentResponse"
        payment:
          $ref: "#/components/schemas/PaymentMethod"
    OrderCompanyResponse:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        currency:
          type: object
          properties:
            numericCode:
              type: integer
              format: int32
            context:
              type: object
              properties:
                providerName:
                  type: string
                empty:
                  type: boolean
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
    OrderEquipmentResponse:
      required:
      - equipment
      - id
      - size
      type: object
      properties:
        id:
          type: string
          format: uuid
        equipment:
          $ref: "#/components/schemas/EquipmentResponse"
        size:
          type: integer
          format: int32
        itemPrice:
          $ref: "#/components/schemas/Money"
        type:
          type: string
        userEquipments:
          type: array
          items:
            $ref: "#/components/schemas/UserEquipmentResponse"
        equipmentWarranty:
          $ref: "#/components/schemas/EquipmentWarrantyResponse"
        updatedAt:
          type: string
          format: date-time
        deviceEnrollment:
          $ref: "#/components/schemas/DeviceEnrollmentResponse"
    OrderResponse:
      required:
      - delayed
      - invoicePaid
      - invoiceSent
      type: object
      properties:
        id:
          type: string
        orderEquipment:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderEquipmentResponse"
        invoice:
          $ref: "#/components/schemas/InvoiceResponse"
        orderDelivery:
          $ref: "#/components/schemas/EquipmentDeliveryResponse"
        state:
          type: string
          enum:
          - ONBOARDING_SET
          - PAYMENT_PENDING
          - PAYMENT_FAILED
          - RECEIVED
          - PREPARING
          - AWAITING_CTO_ORDER
          - SENT
          - DELIVERY_FAILED
          - OUT_FOR_DELIVERY
          - DECLINED
          - DELIVERED
          - ARCHIVED
          - DELETED
        type:
          type: string
          enum:
          - NEW_EMPLOYEE
          - ASSIGN_EXISTING
          - COMPANY
          - ONBOARDING
          - TEQUIPY_WAREHOUSE
        deliveryNumber:
          type: string
        deliveryUrl:
          type: string
        deliveryCompany:
          type: string
        deliveryCountry:
          type: string
        deliveryCountryCode:
          type: string
        deliveryFullName:
          type: string
        deliveryType:
          type: string
          enum:
          - STANDARD
          - EXPRESS
        company:
          $ref: "#/components/schemas/OrderCompanyResponse"
        user:
          $ref: "#/components/schemas/UserResponse"
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressResponse"
        estimatedDeliveryDate:
          type: string
          description: No longer used
          format: date
          deprecated: true
        delayed:
          type: boolean
        delayReason:
          type: string
          enum:
          - AWAITING_STOCK
          - CTO_BUILD_TIME
          - COURIER_ISSUES
          - REMOTE_DELIVERY_ADDRESS
          - INCOMPLETE_ADDRESS
          - HOLIDAY_PERIOD
        deliveryFailureReason:
          type: string
        estimatedDeliveryDateHistory:
          type: array
          items:
            $ref: "#/components/schemas/EventLogEstimatedDeliveryDateResponse"
        contactPersonFullName:
          type: string
        contactPersonEmail:
          type: string
        requesterEmail:
          type: string
          description: Use requesterUser instead
          deprecated: true
        requesterUser:
          $ref: "#/components/schemas/UserResponse"
        contactPersonPhone:
          type: string
        companyEntityName:
          type: string
        createdDate:
          type: string
          format: date-time
        deliveryFailedAt:
          type: string
          format: date-time
        startProcessingAt:
          type: string
          format: date-time
        awaitingCtoOrderAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
        outForDeliveryAt:
          type: string
          format: date-time
        completedDate:
          type: string
          format: date-time
        cancelledAt:
          type: string
          format: date-time
        archivedAt:
          type: string
          format: date-time
        startDate:
          type: string
          format: date
        totalPrice:
          $ref: "#/components/schemas/Money"
        invoicePaid:
          type: boolean
        invoiceAmount:
          type: number
        invoiceSent:
          type: boolean
        notes:
          type: string
        purchaseOrderNumber:
          type: string
        tequipyNotes:
          type: string
        paymentDetails:
          $ref: "#/components/schemas/PaymentDetailsResponse"
        paymentMethod:
          $ref: "#/components/schemas/PaymentMethodDto"
        dep:
          $ref: "#/components/schemas/DepOrderResponse"
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressResponse"
    PaymentDetailsResponse:
      type: object
      properties:
        details:
          oneOf:
          - $ref: "#/components/schemas/IbanDetails"
          - $ref: "#/components/schemas/RoutingAccountDetails"
          - $ref: "#/components/schemas/SortCodeDetails"
        title:
          type: string
        receiver:
          $ref: "#/components/schemas/PaymentReceiverResponse"
        currency:
          type: object
          properties:
            numericCode:
              type: integer
              format: int32
            context:
              type: object
              properties:
                providerName:
                  type: string
                empty:
                  type: boolean
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
    PaymentMethod:
      required:
      - method
      type: object
      properties:
        method:
          type: string
          enum:
          - CREDIT_LINE
          - STRIPE
        source:
          type: string
          enum:
          - GB
          - EU
          - US
    PaymentReceiverResponse:
      type: object
      properties:
        name:
          type: string
        streetLine1:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          $ref: "#/components/schemas/CountryResponse"
        countrySubdivisionCode:
          type: string
    RoutingAccountDetails:
      required:
      - accountNumber
      - routingNumber
      type: object
      allOf:
      - $ref: "#/components/schemas/BankAccountDetails"
      - type: object
        properties:
          routingNumber:
            type: string
          accountNumber:
            type: string
    SortCodeDetails:
      required:
      - accountNumber
      - sortCode
      type: object
      allOf:
      - $ref: "#/components/schemas/BankAccountDetails"
      - type: object
        properties:
          sortCode:
            type: string
          accountNumber:
            type: string
          bankName:
            type: string
    OrderQueryRequest:
      type: object
      properties:
        orderedForIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        countries:
          type: array
          items:
            type: string
        createdFrom:
          type: string
          format: date
        states:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - ONBOARDING_SET
            - PAYMENT_PENDING
            - PAYMENT_FAILED
            - RECEIVED
            - PREPARING
            - AWAITING_CTO_ORDER
            - SENT
            - DELIVERY_FAILED
            - OUT_FOR_DELIVERY
            - DECLINED
            - DELIVERED
            - ARCHIVED
            - DELETED
        searchPhrase:
          type: string
        companyId:
          type: string
          format: uuid
        ids:
          uniqueItems: true
          type: array
          items:
            type: string
        companyAddressIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        warehouseIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        orderedForType:
          type: string
          enum:
          - EMPLOYEE
          - COMPANY_ADDRESS
          - TEQUIPY_WAREHOUSE
    PageOrderResponse:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: "#/components/schemas/OrderResponse"
        number:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/SortObject"
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: "#/components/schemas/PageableObject"
        empty:
          type: boolean
    CreateOffboardingRequest:
      required:
      - isChargerReplacementAllowed
      - userId
      type: object
      properties:
        userId:
          type: string
          format: uuid
        offboardingEquipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        givenEquipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        sellBackEquipmentIds:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        companyEntityId:
          type: string
          format: uuid
        lastWorkingDayAt:
          type: string
          format: date-time
        pickUpDetails:
          $ref: "#/components/schemas/PickUpDetailsRequest"
        notes:
          type: string
        isChargerReplacementAllowed:
          type: boolean
        firstContactAt:
          type: string
          format: date-time
    PickUpDetailsRequest:
      type: object
      properties:
        privateEmail:
          type: string
        phoneNumber:
          type: string
        fullName:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
          description: use countryCode
          deprecated: true
        countryCode:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - "NO"
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        countrySubdivisionCode:
          type: string
        streetLine1:
          type: string
        streetLine2:
          type: string
        address:
          type: string
    OffboardingEquipmentResponse:
      type: object
      properties:
        serialNumber:
          type: string
        userEquipmentId:
          type: string
          format: uuid
        equipment:
          $ref: "#/components/schemas/EquipmentResponse"
        createdAt:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
        updatedAt:
          type: string
          format: date-time
        action:
          type: string
          enum:
          - GIVE_AWAY
          - RETURN
          - SELL_BACK
    OffboardingResponse:
      required:
      - id
      - state
      type: object
      properties:
        id:
          type: string
        sellbackId:
          type: string
        contactEmail:
          type: string
        user:
          $ref: "#/components/schemas/UserResponse"
        companyAddress:
          $ref: "#/components/schemas/CompanyAddressResponse"
        deliveryAddress:
          $ref: "#/components/schemas/DeliveryAddressResponse"
        lastWorkingDayAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        firstEmailSentAt:
          type: string
          format: date-time
        firstReminderSentAt:
          type: string
          format: date-time
        secondReminderSentAt:
          type: string
          format: date-time
        employeeNotRespondingAt:
          type: string
          format: date-time
        materialsSentAt:
          type: string
          format: date-time
        courierScheduledAt:
          type: string
          format: date-time
        readyForPickupAt:
          type: string
          format: date-time
        readyForDropoffAt:
          type: string
          format: date-time
        pickedUpAt:
          type: string
          format: date-time
        deviceInTransitAt:
          type: string
          format: date-time
        deviceInTequipyWarehouseAt:
          type: string
          format: date-time
        failedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        estimatedCompletedAt:
          type: string
          format: date-time
        cancelledAt:
          type: string
          format: date-time
        firstContactAt:
          type: string
          format: date-time
        notes:
          type: string
        state:
          type: string
          enum:
          - SCHEDULED
          - FIRST_EMAIL_SENT
          - FIRST_REMINDER_SENT
          - SECOND_REMINDER_SENT
          - EMPLOYEE_NOT_RESPONDING
          - MATERIALS_SENT
          - PAUSED
          - READY_FOR_DROPOFF
          - READY_FOR_PICKUP
          - PICKED_UP
          - DEVICE_IN_TRANSIT
          - DEVICE_IN_TEQUIPY_WAREHOUSE
          - PICKUP_FAILED
          - DROPOFF_FAILED
          - COMPLETED
          - CANCELLED
          - DELETED
        offboardingEquipments:
          type: array
          items:
            $ref: "#/components/schemas/OffboardingEquipmentResponse"
        address:
          $ref: "#/components/schemas/DeliveryAddressResponse"
        price:
          $ref: "#/components/schemas/Money"
        pricingSummary:
          $ref: "#/components/schemas/PricingSummaryResponse"
    OffboardingQueryRequest:
      type: object
      properties:
        searchPhrase:
          type: string
        states:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - SCHEDULED
            - FIRST_EMAIL_SENT
            - FIRST_REMINDER_SENT
            - SECOND_REMINDER_SENT
            - EMPLOYEE_NOT_RESPONDING
            - MATERIALS_SENT
            - PAUSED
            - READY_FOR_DROPOFF
            - READY_FOR_PICKUP
            - PICKED_UP
            - DEVICE_IN_TRANSIT
            - DEVICE_IN_TEQUIPY_WAREHOUSE
            - PICKUP_FAILED
            - DROPOFF_FAILED
            - COMPLETED
            - CANCELLED
            - DELETED
        createdAt:
          type: string
[...]
